/* index.css */

/* Reset básico para o design */
body, h1, h2, p, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"], select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.ss-id-group {
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre os elementos */
}

.ss-input {
    width: 150px; /* Ajuste para aceitar cerca de 10 dígitos */
    height: 40px;
}

.id-select-group {
    display: flex;
    flex-direction: column;
    margin-left: 0; /* Removendo a margem à esquerda */
}

.id-label {
    margin-bottom: 5px;
}

.id-select {
    width: 70px; /* Ajuste o tamanho conforme necessário */
    height: 40px;
}

#opcoesPeça {
    margin-top: 20px;
}

#opcoesCheckbox {
    margin-top: 10px;
}

#opcoesCheckbox label {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 14px;
}

#opcoesCheckbox input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

.hidden {
    display: none;
}
